.BackgroundCentral {
    /* background-image: linear-gradient(141deg, #feda75, #fa7e1e 51%, #d62976 75%); */
    background-image: linear-gradient(141deg, #c4618d, #962fbf, #4f5bd5);
    height: 789px;
}

.BackgroundMid {
    background-color: #ffffff;
    height: 750px;
    max-width: 70%;
    margin-top: 20px;
    text-align: center;
    /* position: relative; */
    margin-left: auto;
    margin-right: auto;
}

a:link { text-decoration: none; }
a:visited { text-decoration: none; }
a:hover { text-decoration: none; }
a:active { text-decoration: none; }

.img1 {
    text-align: left;
}

.sq img {
    object-fit: cover;
    width: 600px;
    height: 600px;
}


.mt-35 {
    margin-top: 1.3rem;
}

.mt-25 {
    margin-top: 1rem;
}

.mt-n3 {
    margin-top: -6rem !important;
}

.mt-n1 {
    margin-top: -0.50rem !important;
  }






.ms-nn1 {
    margin-left: -0.55rem;
}

.ms-nn2 {
    margin-left: -0.5rem;
}

.ms-n1 {
    margin-left: -1.5rem;
}

.ms-n2 {
    margin-left: -2.5rem;
}

.ms-n3 {
    margin-left: -3.5rem;
}

.ms-n5 {
    margin-left: -6.5rem;
}

.ms-6 {
    margin-left: 4.1rem;
}







.mb-n2 {
    margin-bottom: -0.4rem;
}

.mb-n5 {
    margin-bottom: -2.3rem;
}

